<form (ngSubmit)="onSubmit()">

  <div class="field">
    <label class="label">Titre</label>
    <div class="control">
      <input id="title" class="input" type="text" placeholder="Titre" formControlName="title">
    </div>
    <p class="help">Veuillez écrire le titre de votre votation. Le titre ne doit pas inclure toute la question que vous
      souhaitez poser</p>
  </div>

  <div class="field">
    <label class="label">Contenu</label>
    <div class="control">
      <input id="content" class="input" type="text" placeholder="Titre" formControlName="content">
    </div>
    <p class="help">Veuillez écrire la question de votre votation. </p>
  </div>
  <p>hello</p>
  <div class="field">
    <label class="label">Date début votation</label>
    <div class="control">
      <input id="date_début" class="input" type="date" placeholder="Titre" formControlName="creation_date">
    </div>
    <p class="help">Date à laquelle commence la votation </p>
  </div>

  <div class="field">
    <label class="label">Date fin votation</label>
    <div class="control">
      <input id="date_fin" class="input" type="date" placeholder="Titre" formControlName="closing_date">
    </div>
    <p class="help">Date à laquelle se termine la votation </p>
  </div>

  <div class="field">
    <label class="label">Tag</label>
    <div class="control">
      <input id="tag" class="input" type="text" placeholder="Titre" formControlName="tag">
    </div>
    <p class="help">veillez ajouter une référence ou un Hashtag </p>
  </div>


  <button class="button" type="submit">Créer nouvelle Votation</button>

</form>