<h1>client works!</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" placeholder="FirstName" formControlName="first_name"><br>
    </div>
    <div class="form-group">
        <input type="text" placeholder="LastName" formControlName="last_name"><br>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Email" formControlName="email"><br>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Password" formControlName="password"><br>
    </div>

    <button type="submit">Submit</button>
</form>

<p>Form: {{form.value | json}}</p>

<div *ngFor="let client of clients | async">
    <div>
        <b>First Name: </b><span>{{client.first_name}}</span><br />
        <b>Last Name: </b><span>{{client.last_name}}</span><br />
        <b>Email: </b><span>{{client.email}}</span><br />
        <b>Password: </b><span>{{client.password}}</span>
    </div>
    <hr>
</div>
