<div class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2000px-Angular_full_color_logo.svg.png" />
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="">Home</a>
            <a class="navbar-item" routerLink="votations">Votations</a>
            <a class="navbar-item" routerLink="displayvote">Liste Votation</a>
            <a class="navbar-item" routerLink="searchVote">Recherche Votation</a>
            <a class="navbar-item" routerLink="result">Results</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" routerLink="users/id{{user_id}}" *ngIf="connected">{{user}}</a>
            <a class="navbar-item" routerLink="users/login" *ngIf="!connected">Login</a>
            <a class="navbar-item" routerLink="users/signup" *ngIf="!connected">Sign Up</a>
        </div>
    </div>
</div>