
<form (ngSubmit)="submitForm()" #contactForm="ngForm">

  <div class="field">
      <label class="label">Email</label>
      <input type="email" name="email" class="input" placeholder="e.g. alex@gmail.com" [(ngModel)]="email"
          #emailInput="ngModel" required email>
      <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
          This is required or needs to be valid email!
      </div>
  </div>

  <div class="field">
      <label class="label">Password</label>
      <input type="password" name="password" class="input" placeholder="e.g. opisn21" [(ngModel)]="password"
          #passwordInput="ngModel" required>
      <div class="help is-error" *ngIf="passwordInput.invalid && passwordInput.touched">
          This is required!
      </div>
  </div>

  <button type="submit" class="button is-link" [disabled]="contactForm.invalid">Submit</button>
</form>


{{userId[0].id}}

    <p></p>
{{userId|json}}









