<form (ngSubmit)="onSubmitTitle()" #form="ngForm">
  <div class="field">
      <label class="label">Recherche dans le titre de la votation</label>
      <input type="text" name="id" class="input" [(ngModel)]="title">
  </div>
  <button type="submit" class="button">Submit</button>
</form>



<form (ngSubmit)="onSubmitContent()" #form="ngForm">
  <div class="field">
      <label class="label">Recherche dans la question de la votation</label>
      <input type="text" name="id" class="input" [(ngModel)]="content">
  </div>
  <button type="submit" class="button">Submit</button>
</form>

<div *ngFor="let value of values | async">
  <p>{{value | json}}</p>
</div>

