
  <div class="card" *ngFor="let vote of votation">
      <div class="card">
          <div class="card-content">
              <div class="media">
                  <div class="media-left">
                      <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                      </figure>
                  </div>
                  <div class="media-content">
                      <a class="title is-4" routerLink="{{vote.id}}">{{vote.title}}</a>
                  </div>
              </div>

              <div class="content">
                  {{vote.content}}<br>
                  <div type="date">{{vote.creation_date |date}} - {{vote.closing_date |date}}</div>
              </div>
              <button type="submit" (click)="voteYes()" class="button is-link" [disabled]="!connected || isVoted!=0 || userId==vote.user_id">Oui</button>
              <p> </p>
              <button type="submit" (click)="voteNo()" class="button is-link" [disabled]="!connected || isVoted!=0 || userId==vote.user_id">Non</button>

              <p>Résultat: {{resultYes}}% Oui, {{resultNo}}% Non</p>


      </div>
  </div>

