<form #contactForm="ngForm">

    <div class="field">
        <label class="label">Email</label>
        <input name="email" class="input" placeholder="e.g. alex@gmail.com" [(ngModel)]="email">
    </div>

    <div class="field">
        <label class="label">Password</label>
        <input name="password" class="input" placeholder="e.g. opisn21" [(ngModel)]="password">
    </div>

    <button type="submit" (click)="validate()" class="button is-link">Validate</button>
    <button type="submit" (click)="submit()" class="button is-link" routerLink=""
        [disabled]="!validOrNot">Submit</button>
</form>