<form (ngSubmit)="onSubmit()" #contactForm="ngForm">

    <div class="field">
        <label class="label">Email</label>
        <input type="email" name="email" class="input" placeholder="e.g. alex@gmail.com" [(ngModel)]="email">
    </div>

    <div class="field">
        <label class="label">Password</label>
        <input type="password" name="password" class="input" placeholder="e.g. opisn21" [(ngModel)]="password">
    </div>

    <button type="submit" class="button is-link">Submit</button>
</form>
<h1>{{id|json}}</h1>